<div id="documentation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="documentation">Using Dockstore</h3>
        <ul>
          <li>
            <a href="/docs#newsandevents">News and Events</a>
          </li>
          <li>
            <a href="/docs#advancedfeatures">Advanced Features</a>
          </li>
          <li>
            <a href="/docs#faqfrequentlyaskedquestions">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Adding to Dockstore</h3>
        <ul>
          <li>
            <a href="/docs#signupforaccounts">Sign Up for Accounts</a>
          </li>
          <li>
            <a href="/docs#createyourtool">Create Your Tool</a>
          </li>
          <li>
            <a href="/docs#describeyourtoolincwl">Describe Your Tool</a>
          </li>
          <li>
            <a href="/docs#registeryourtoolindockstoreregisteryourtoolindockstore">Register Your Tool in Dockstore</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="documentation">About Dockstore</h3>
        <ul>
          <li>
            <a href="/docs#aboutthedockstore">About the Dockstore</a>
          </li>
          <li>
            <a href="/docs#builtwithquayioandgithub">Built with Quay.io and GitHub</a>
          </li>
          <li>
            <a href="/docs#bestpractices">Best Practices</a>
          </li>
          <li>
            <a href="/docs#promotingstandards">Promoting Standards</a>
          </li>
          <li>
            <a href="/docs#buildingacommunityy">Building a Community</a>
          </li>
          <li>
            <a href="/docs#futureplans">Future Plans</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
