<div class="panel panel-default">
  <div class="container">
    <h3>Stargazers</h3>
    <div class="panel-body">
      <div ng-repeat="stargazer in starGazers.users">
        <div class="thumbnail col-md-3">
          <img ng-if="stargazer.gravatarUrl" src={{stargazer.gravatarUrl}}/>
          <img ng-if="!stargazer.gravatarUrl" src={{stargazer.avatarUrl}}/>
          <div class="caption">
            <h5>{{stargazer.username}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info" role="alert" ng-if="starGazers.users.length==0">
      <span class="glyphicon glyphicon-warning-sign"></span>
      There are no stargazers for this entry.
    </div>
  </div>
</div>
<button type="button" ng-click="starGazers.clicked=false" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back to details</button>
