<div class="container panel panel-default">
    <h3>Stargazers</h3>
    <div class="panel-body" ng-if="starGazers.users.length>0">
      <div ng-repeat="stargazer in starGazers.users">
        <div class="col-md-3">
          <img ng-src="{{stargazer.avatarUrl}}" width="175px" height="175px"/>
          <div class="caption">
            <h5>{{stargazer.username}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-info" role="alert" ng-if="starGazers.users.length==0">
      <span class="glyphicon glyphicon-warning-sign"></span>
      There are no stargazers for this entry.
  </div>
</div>
<button id="backButton" type="button" ng-click="starGazers.clicked=false" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back to details</button>
